<!DOCTYPE html>
<html lang="fr">	
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		 <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

		<!-- Css -->
		<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- Vendors -->
		<script type="text/javascript" src="bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
		
		<!-- Underscore -->
		<script type="text/javascript" src="bower_components/underscore/underscore.js"></script>

		<!--Materialize -->
		<script src="bower_components/angular-aria/angular-aria.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-material/angular-material.js"></script>


		<script>
			var app = angular.module('collectify',['ngRoute', 'underscore']);
		</script>			

		<!-- <script type="text/javascript" src="app.js"></script> -->
<!-- 		<script type="text/javascript" src="routes/categoryRouting.js"></script> -->

		<!-- Factory -->
		<script type="text/javascript" src="src/factory/underscoreFactory.js"></script>
		<script type="text/javascript" src="src/factory/firebaseAuthFactory.js"></script>

		<!-- Controllers -->
<!-- 		<script type="text/javascript" src="src/controllers/indexController.js"></script>
		<script type="text/javascript" src="src/controllers/userController.js"></script>
		<script type="text/javascript" src="src/controllers/itemController.js"></script>		
		<script type="text/javascript" src="src/controllers/categoryController.js"></script> -->


		<!-- Directves -->
<!-- 		<script type="text/javascript" src="src/directives/itemDecoratorDirective.js"></script>
		<script type="text/javascript" src="src/directives/categoryDecoratorDirective.js"></script>
		<script type="text/javascript" src="src/directives/menuDecoratorDirective.js"></script>		
 -->
		<!-- Services -->
<!-- 		<script type="text/javascript" src="src/services/itemProvider.js"></script>
		<script type="text/javascript" src="src/services/categoryProvider.js"></script>
		<script type="text/javascript" src="src/services/usersProvider.js"></script>	 -->

	</head>
	<body ng-app="collectify">

	<!-- <body ng-app> -->

		<div ng-controller="SettingsController1 as setting">
			{{ setting.name }}
			{{ setting.autre }}

			<p ng-repeat="item in setting.items | orderBy: 'age'">
				{{ item.name }} est {{ item.sexe }} et a {{ item.age }} ans
			</p>
			
			<span></span>

			<button href="#" ng-click="setting.test();">test Ng-click</button>

		</div>

		

<!-- 		<div ng-controller="myController">
			{{ name }}
		</div> -->

		<input type="text" ng-model="monTest">
		{{ monTest }}

		<a href="#" toto>{{ autre }}</a>

		<script type="text/javascript">
			// var myController = function($scope){
			// 	console.log('toto');
			// 	$scope.name= 'toto';
			// }

			angular.module('collectify')
			  .controller('SettingsController1', SettingsController1);

			function SettingsController1($rootScope) {
			  var setting = this;
			  $rootScope.autre = "vhvuv1";
			  setting.name = 'John Smith';
			  setting.autre = "vhvuv2";

			  setting.items =[
			  	{'name': 'toto', 'age':18, 'sexe': 'masculin'},
			  	{'name': 'tito', 'age':8, 'sexe': 'feminin'},
			  	{'name': 'un nom', 'age':48, 'sexe': 'masculin'}
			  ]

			  setting.test = function(){
			  	console.log('test');
			  }

			}
						
		</script>

	</body>
</html>