<div class="row">
	<h4 class="header" ng-show="Index.firebaseUser">Bonjour {{ Index.firebaseUser.email }} <a href="#" ng-click="Index.logout();">Déconnexion</a></h4>
	<h4 class="header" ng-hide="Index.firebaseUser">Connectez-vous</h4>	
	<div class="card horizontal" ng-hide="Index.firebaseUser">
	  <div class="card-image">
	    <img src="http://lorempixel.com/100/190/nature/6">
	  </div>
	  <form class="card-stacked">
	    <div class="card-content">
				<p>
					<label for="">Email:</label>
					<input type="email" name="email" ng-model="Index.user.email">
				</p>

				<p>
					<label for="">Password:</label>
					<input type="password" name="password" ng-model="Index.user.password">
				</p>	
	    </div>
	    <div class="card-action">
	      <md-button class="btn cyan darken-2 right" ng-click="Index.auth(Index.user);">Se Connecter</md-button>
	    </div>
	  </form>
	</div>
</div>
        

<div ng-repeat="item in Index.items | limitTo : -3" class="row"  ng-show="Index.firebaseUser">
	<decorate-item></decorate-item>
</div>