<nav>
	<div class="nav-wrapper cyan darken-2">
	  <a href="#/" class="brand-logo">Mon Appli : Collectify</a>

	  <ul id="nav-mobile" class="right">
		<li><a href="#/items">Liste des Items</a></li>
		<li><a href="#/items/new">Ajouter un item</a></li>
		<li><a href="#/categories">Liste des catégories</a></li>
		<li><a href="#/categories/new">Ajouter une catégorie</a></li>
	  </ul>
	</div>
</nav>
<nav>
	<div class="nav-wrapper grey lighten-2">
	  <ul id="nav-user">
	  	<li><a href="#/create-user">Creer un nouvel utilisateur</a></li>
	  </ul>
	</div>
</nav>